version: "3.8"

services:
  camunda:
    image: camunda/camunda-bpm-platform:run-latest
    container_name: camunda
    ports:
      - "8080:8080"
    networks:
      - camunda-net
    volumes:
      - ./application.yaml:/camunda/conf/application.yaml
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/engine-rest/engine"]
      interval: 5s
      timeout: 3s
      retries: 40

  deployer:
    build: ./deployer
    depends_on:
      camunda:
        condition: service_healthy
    networks:
      - camunda-net
    restart: "no"


networks:
  camunda-net:
