services:
  camunda:
    image: camunda/camunda-bpm-platform:run-latest
    container_name: camunda
    ports:
      - "8080:8080"
    environment:
      - CAMUNDA_BPM_RUN_EXAMPLE_ENABLED=false
    networks:
      - camunda-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/engine-rest/version"]
      interval: 5s
      timeout: 5s
      retries: 40

  read-db-worker:
    build: ./workers/read-db
    container_name: read-db-worker
    depends_on:
      camunda:
        condition: service_healthy
    networks:
      - camunda-net

  write-db-worker:
    build: ./workers/write-db
    container_name: write-db-worker
    depends_on:
      camunda:
        condition: service_healthy
    networks:
      - camunda-net

  deployer:
    build: ./deployer
    container_name: camunda-deployer
    depends_on:
      - camunda
    networks:
      - camunda-net
    restart: "no"

networks:
  camunda-net:
    external: true
