services:
  camunda:
    image: camunda/camunda-bpm-platform:run-latest
    container_name: camunda
    ports:
      - "8080:8080"
    networks:
      - camunda-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/engine-rest/engine || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 40

  deployer:
    build: ./deployer
    container_name: camunda-deployer
    depends_on:
      - camunda
    networks:
      - camunda-net
    restart: "no"

networks:
  camunda-net:
